@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$roboto: 'Roboto', sans-serif;

$normalblue: #505F98;
$boldblue: #091133;
$gradient: linear-gradient(90deg, rgba(80,95,152,0.38139005602240894) 0%, rgba(231,236,255,0.6811099439775911) 86%);
$maingray:#5D6970;

%bluebutton{
    background-color: #111B47;
    border-radius: 2px;
    width: 10rem;
    height: 1.625rem;
    padding: 0;
    border: 2px solid #091133;
}
body{
    font-family: $roboto;
}
.navbar-light .navbar-brand {
   color: #37447E;
}
.navbar-light .navbar-nav .nav-link {
    color: $normalblue;
}
.navbar-nav{
    order: 1;
}
.navbar-brand{
order: 2;
font-weight: 900;
font-size: 1.625rem;
line-height: 2.375rem;
}
nav{
    line-height: 1.5rem;
    color: $normalblue;
}
.btn-primary{
    @extend %bluebutton;
    order: 3;
}
.background-image{
    background-image:url(img/first-bg_hssage_c_scale\,w_1400.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.buttons{
    margin-top: 4.3125rem;
}
.title{
font-style: normal;
font-weight: 500;
font-size: 3.125rem;
line-height: 132%;
letter-spacing: 1px;
color: $boldblue;
}
.buttons{
    display: flex;
    gap:1.875rem;
    flex-wrap: wrap;
}
.purchaseUI{
    width: 11.825rem;
    height: 2.25rem;
}
.learnmore{
    background:transparent;
    color: $boldblue;
}
.container{
    max-width: none;
    padding-left: 11.25%;
}
@media (min-width:992px) {
    .phone-ver{
        display: none;
    }
    .navbar-collapse{
        justify-content: space-between;
    }
    .navbar{
        padding: 0.75rem 11.45%;
    }
    .navbar-nav{
        gap: 3.75rem;
    }
    .title{
        margin-top: 15.5rem;
        padding-right: 50%;
    }
    .introduce-block{
        padding-bottom: 24rem;
    }
    .description{
        padding-right: 60%;

    }
}
@media (max-width:440px) {
    html{
        font-size: 0.5rem;
}
}
@media (max-width:151px) {
    html{
        font-size: 0.25rem;
}
}
@media (max-width:992px) {
    .desctop-ver{
        display: none;
    }
    .navbar-brand{
        order: 0;
    }
    .title{
        margin-top: 7.75rem;
        padding-right: 20%;
    }
    .introduce-block{
        padding-bottom: 12rem;
    }
    .background-image{
        background-repeat: no-repeat;
        background-size:cover;
    }
    .description{
        padding-right: 30%;
        background: $gradient
    }
}
.col-6 .title{
    margin-top: 10rem;
}
.wrap{
    flex-wrap: wrap;
}
.imagecontainer{
    padding-right: 11.25%;
}
.title-text{
    margin-top: 10rem;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    color: $boldblue;
}
.reverse{
    flex-direction: row-reverse;
}
@media (max-width:992px) {
.wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reverse{
    flex-direction: column;
}
}
.col-sm svg{
    width:2.25em;
    margin-bottom: 0.8rem;
}
.title-sketch{
    font-weight: 500;
    line-height: 1.625rem;
    color: $boldblue;
}
.description-sketch{
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $maingray;
    padding-right: 10%;
}

.imagecontainer{
    padding-top:10em;
}

@media (max-width:992px) {
    .imagecontainer{
        padding-top:2rem;
    }
    .title-text{
        margin-top:5rem;
        text-align: start;
    }
    .description-text{
        text-align: start;
    }
}
@media (min-width:992px) {
.reverse {
    padding-right: 11.25%;
}

}
.description-text{
line-height: 162%;
color: #6F7CB2;
white-space: pre-wrap;
}
.col-6 button{
    width: 9.375rem;
    height: 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img/Rectangle.svg);

}
.mobile-login{
    width: 100%;
}
.col-12 .description-text{
    padding: 0 24%;
    text-align: center;
}
.col-12 .title-text{
    text-align: center;
}
.design-kit{
    color: #37447E;
    margin-bottom: 3.75em;
}
.price{
    font-weight: 500;
    font-size: 3.125em;
    line-height: 132%;
    color: #222F65;
    margin-bottom: 0;
}
.promotext{
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #5D6970;
}
.col-4{
    align-items: center;
    justify-content: space-between;
}
.col-12 button{
    margin-bottom: 11rem;
}
footer{
    background: #E7ECFF;
}
.bottom{
    display: flex;
    flex-direction: column;
    padding: 0 11.5%;
}
.bottom-top,
.bottom-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.25rem;
    flex-wrap: wrap;
}
.bottom-bottom{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.bottom-top p{
    margin:0;
    font-family: $roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
    color: $maingray;
}
.bottom-top a{
    margin:0;
    color: #37447E;;
}
.bottom-top button {
    width: 6.8125rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 150%;
    height: 1.5rem;
}
.bottom hr{
    height: 1px;
    width: 100%;
    background: #CDD1D4;
}
.bottom-bottom .navbar-nav{
    flex-direction: row;
    gap: 3.75rem;
    font-family: $roboto;
    font-size: 0.875rem;
    line-height: 171%;
}
.bottom-bottom .navbar-nav .nav-item .nav-link{
    color: #929ECC
}
.socials{
    order: 2;
    display: flex;
    gap: 1.875rem;
}

svg:hover{
    opacity: .8;
    cursor: pointer;
}